<!DOCTYPE html>
<html>
<head><title>Admin Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>
<body>
    <div class="container">
        <h1>Admin Dashboard</h1>
        <h2>Registered Users</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Phone No.</th>
                    <th>DateTime</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.datetime }}</td>
                    <td><img src="{{ url_for('static', filename=user.img.split('static/')[1]) }}" width="50" alt="User Image"></td>
                    <td><a href="{{ url_for('delete_user', user_id=user.folder) }}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br><a href="/" class="btn btn-secondary">← Back to Home</a>
    </div>
</body>
</html>